{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/room.css" />
{% endblock %}

{% block scripts %}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/libs/lodash.min.js" type="text/javascript"></script>
  <script src="/static/js/user.js" type="text/javascript"></script>
  <script src="/static/js/room.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div id="room">
    <div id="table">

      <button class="btn btn-success" type="button" id="finishVoting">Finish voting</button>
    </div>

    <div id="hand">
    </div>

    <div class="modal fade" id="nameModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form id="joinRoomForm" action="#" method="post">
            <div class="modal-header">
              <h4 class="modal-title">Enter your name</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input id="name"
                       required
                       type="text"
                       class="form-control"
                       placeholder="Your name" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="joinRoomBtn">Continue</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
