.card
{
  width: 73px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  cursor: default;

}

  .card .front
  {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: black;
  }

    .card .front .topRight
    {
      position: absolute;
      top: 3px;
      right: 3px;
      font-size: 14px;
      line-height: 14px;
    }

    .card .front .bottomLeft
    {
      position: absolute;
      bottom: 3px;
      left: 3px;
      font-size: 14px;
      line-height: 14px;
    }

    .card .front .center
    {
      font-size: 32px;
      margin-top: 25px;
    }

  .card .back
  {
    width: 100%;
    height: 100%;
    background: url("../img/card_back.png") no-repeat left top;
  }

#table
{
  background: #216f1d;
  background: -moz-linear-gradient(top, #046337 0%, #183B25 100%);
  background: -webkit-linear-gradient(top, #046337 0%,#183B25 100%);
  background: -o-linear-gradient(top, #046337 0%,#183B25 100%);
  background: -ms-linear-gradient(top, #046337 0%,#183B25 100%);
  background: linear-gradient(to bottom, #046337 0%,#183B25 100%);

  color: #D7FFF5;
  position: relative;
}

#table::after
{
  content: " ";
  clear: both;
  display: block;
}

  #table #finishVoting
  {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  #table .player
  {
    float: left;
    margin: 10px;
    text-align: center;
  }

    .player .cardHolder
    {
      border: 2px solid #D7FFF5;
      border-radius: 5px;
      width: 75px;
      height: 102px;
}

      .cardHolder .card
      {
        margin-left: -1px;
        margin-top: -1px;
      }

        .cardHolder .card .front
        {
          display: none;
        }

        .cardHolder .card.turned .front
        {
          display: block;
        }

#hand
{
  margin-top: 10px;
}

#hand::after
{
  content: " ";
  clear: both;
  display: block;
}

  #hand .card
  {
    margin: 10px;
    float: left;
    cursor: pointer;
  }
